footer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 10vh;
  top: 3.99px;
  background-color: #d8d8d8;
}
.copyright {
  text-align: center;
  padding: 2.5vh 0;
  color: #2b2929;
  font-size: 1rem;
}
